<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>实名认证失败</title>
    <link href="{{.ServerHost}}static/index.css" rel="stylesheet">
    <script src="{{.ServerHost}}static/index.js"></script>
    <script src="{{.ServerHost}}static/isMobile.js"></script>
    <script>
        if (isMobile.android.phone) {
            window.identiy_callback.onFailure()
        } else if (isMobile.apple.phone) {
            window.webkit.messageHandlers.identiy_callback.postMessage('onFailure')
        }
    </script>
</head>
<body>
<div class="top">
  <img src="{{.ServerHost}}static/icon-failed.png" alt="">
  <span class="result">抱歉未完成身份验证</span>
  <span class="reason">验证流程出现异常</span>
</div>
<div class="bottom">
  <span class="tip" id="tip"></span>
  <button class="btn" onclick="to()">重新认证</button>
</div>
<script>
window.addEventListener('DOMContentLoaded', function () {
    time('tip', to);
});

function to() {
    goTo({{.RedirectHost}});
}
</script>
</body>
</html>
